body
	canvas#canvas

	.counters
		.time#time-counter
		.frames#frame-counter
		.fps#fps-counter
		
	.control-panel#control-panel
		mixin range-control(id, name, min, max, dv, step)
			.range-control
				label(for=id)= name
				input(type="range" autocomplete="off" id=id min=min max=max value=dv step=step)
				span.control-value

		mixin range-info(id, name, initialValue)
			.range-control
				.control-name= name
				.control-value(id=id)= initialValue

		+range-info('modelRotateX', 'angleX', 0)
		+range-info('modelRotateY', 'angleY', 0)
		+range-info('modelRotateZ', 'angleZ', 0)
		+range-info('modelTranslateX', 'X', 0)
		+range-info('modelTranslateY', 'Y', 0)
		+range-info('modelTranslateZ', 'Z', -3)
		+range-info('modelScale', 'scale', 1)
		+range-info('cameraX', 'cameraX', 0)
		+range-info('cameraY', 'cameraY', 0)
		+range-info('cameraZ', 'cameraZ', 1)

	script(src="assets/scripts/bundle.js")