body
	canvas#canvas

	.counters
		.time#time-counter
		.frames#frame-counter
		.fps#fps-counter
		
	.control-panel#control-panel
		mixin range-control(id, name, min, max, dv, step)
			.range-control
				label(for=id)= name
				input(type="range" autocomplete="off" id=id min=min max=max value=dv step=step)
				span.control-value

		+range-control('modelRotateX', 'angleX', -360, 360, 0, 1)
		+range-control('modelRotateY', 'angleY', -360, 360, 0, 1)
		+range-control('modelRotateZ', 'angleZ', -360, 360, 0, 1)
		+range-control('modelTranslateX', 'x', -1, 1, 0, 0.01)
		+range-control('modelTranslateY', 'y', -1, 1, 0, 0.01)
		+range-control('modelTranslateZ', 'z', -10, 5, -3, 0.01)
		+range-control('modelScale', 'scale', 0, 5, 1, 0.01)
		+range-control('cameraX', 'eyeX', -1.5, 1.5, 0, 0.01)
		+range-control('cameraY', 'eyeY', -1.5, 1.5, 0, 0.01)
		+range-control('cameraZ', 'eyeZ', 0.01, 5, 1, 0.01)

	script(src="assets/scripts/bundle.js")