body
	canvas#canvas

	.counters
		.time#time-counter
		.frames#frame-counter
		.fps#fps-counter
		
	.control-panel#control-panel
		mixin range-control(id, name, min, max, dv, step)
			.range-control
				label(for=id)= name
				input(type="range" autocomplete="off" id=id min=min max=max value=dv step=step)
				span.control-value

		mixin range-info(id, name, nihongo, initialValue)
			.range-control
				.control-name= name
				.control-name(lang="ja")= nihongo
				.control-value(id=id)= initialValue

		+range-info('modelRotateX', 'angleX', '角度', 30)
		+range-info('modelRotateY', 'angleY', '角度', 20)
		+range-info('modelRotateZ', 'angleZ', '角度', 0)
		+range-info('modelTranslateX', 'translateX', '翻訳する', 0)
		+range-info('modelTranslateY', 'translateY', '翻訳する', 0)
		+range-info('modelTranslateZ', 'translateZ', '翻訳する', -1.5)
		+range-info('cameraX', 'cameraX', 'カメラ', 0)
		+range-info('cameraY', 'cameraY', 'カメラ', 0)
		+range-info('cameraZ', 'cameraZ', 'カメラ', 1)

	script(src="assets/scripts/bundle.js")